@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Charmonman');

h1{
    font-family: 'Muli', sans-serif;
    font-size: 70px;
}

p{
      font-family: 'Muli', sans-serif;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.row{   

    background-color: white;
    color: red;
    font-size:20px;
    display: flex;
    justify-content: center;
}

a {
    color: black;
    font-family: 'Charmonman', cursive;
    font-size: 35px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.row-footer{
    display: flex;
    justify-content: space-around;
    }

a:hover {
    color: red;
    text-decoration: underline;
}

.headshot{
    height: 500px;
}

.mid{
    background-color: white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border: 2px solid black; 
    
}

.row-contact{
   display: flex;
    justify-content: space-around;
}


.item2{
    margin: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.img1{
    margin: 10;
    padding: 10px 20px;
}

body{
    background-image: linear-gradient(blue, yellow);
}
/*Portfolio Work*/
